html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

ul {
  list-style: none;
}
.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 30px;
}

.title_p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 80px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
body {
  color: #151618;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  position: relative;
}

.menu__close {
  display: none;
}

.menu {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 135px;
}

.menu__btn {
  display: none;
  width: 40px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.menu--close {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
}
.menu--close.menu--open {
  display: block;
}

.menu__btn span {
  background-color: #000;
  height: 2px;
  width: 100%;
}

.menu__list {
  display: flex;
  gap: 0 60px;
  position: relative;
  z-index: 3;
}
.top {
  background: linear-gradient(180deg, #fbfffb 0%, #f4fff5 61.6%);
  padding: 17px 0 20px;
}
.top__inner {
  display: flex;
  justify-content: space-between;
}
.top__inner-text {
  margin-top: 50px;
}
.top__inner-text span {
  max-width: 284px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #59a96a;
}
.top__title {
  max-width: 535px;
  margin-top: 66px;
  margin-bottom: 24px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
}
.top__text {
  max-width: 551px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 66px;
}

.top__btn {
  background-color: #59a96a;
  border-radius: 26px;
  padding: 12px 29px;
  font-weight: 600;
  color: #ffffff;
}
.about-us {
  padding: 100px 0;
}

.about-us__title,
.about-us__p {
  text-align: center;
}

.about-us__list {
  display: flex;
  gap: 55px 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.about-us__item {
  width: auto;
}
.about-us__item {
  text-align: center;
}
.about-us__text {
  margin-top: 40px;
}
.coaches {
  padding: 100px 0;
}
.coaches__p {
  max-width: 620px;
}
.coaches__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px 90px;
}
.coaches__item {
  text-align: center;
}

.coaches__name {
  margin-top: 20px;
  margin-bottom: 17px;
}
.coaches__item span {
  font-style: italic;
}

.dedication {
  padding: 100px 0;
  background-color: #f8fff9;
  background-image: url(../images/dedication-img.png);
  background-repeat: no-repeat;
  background-position: right;
}

.dedication__p {
  max-width: 402px;
}

.dedication__list {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 1fr 1fr;
  max-width: 532px;
  gap: 30px 60px;
}

/* .dedication__item{
  max-width: 233px;
} */

.dedication__item span {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
}
.dedication__item p {
  margin-top: 15px;
}
.mailing-list {
  padding: 100px 0;
}
.mailing-list__title {
  margin-bottom: 40px;
}
.mailing-list__inner {
  display: flex;
  gap: 60px 40px;
}
.mailing-list__text {
  line-height: 1.5;
  flex-basis: 580px;
}
.mailing-list__form {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 544px;
}

.mailing-list__email {
  border: none;
  border-bottom: 1px solid #34a853;
  background-color: transparent;
  padding: 3px 0;
  width: 360px;
  margin-right: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  color: #151618;
}

.mailing-list__email::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  color: #bcbcbc;
}
.mailing-list__btn {
  color: #fff;
  background-color: #34a853;
  border-radius: 12px;
  padding: 11px 17px;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

.checkbox__text {
  padding-left: 20px;
  color: #4d4d4d;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
}

.mailing-list__label {
  margin-top: 16px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  padding-left: 20px;
}

.checkbox-style {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #151618;
  margin-top: 5px;
}

.checkbox:checked + .checkbox-style::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #151618;
  top: 1px;
  left: 1px;
}

.footer {
  padding: 100px 0;
  background-color: #f4fff5;
}
.footer__menu {
  display: flex;
  justify-content: center;
  gap: 0 60px;
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 0 30px;
  margin-top: 40px;
  align-items: center;
}
.footer__bottom {
  margin-top: 60px;
}

.footer__copy {
  text-align: center;
}

@media (max-width: 1000px) {
  .top {
    padding: 60px 0;
  }
  .top__title {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .top__banner {
    max-width: 305px;
    max-height: 410px;
    margin-top: 50px;
  }
  .top__btn {
    margin-top: 50px;
  }
  .coaches__list {
    /* margin: 0 auto; */
    gap: 40px;
  }
  .coaches__img {
    max-width: 202px;
    max-height: 299px;
  }
  .mailing-list__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .mailing-list__title,
  .mailing-list__text {
    text-align: center;
  }
  .mailing-list__inner {
    justify-content: center;
  }
}
@media (max-width: 870px) {
  .menu__list {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 480px;
    margin: 0 auto;
    background-color: #fff;
    display: block;
    text-align: center;
    padding-top: 60px;
    transition: transform 0.5s ease;
  }
  .menu__close {
    display: block;
  }

  .menu__list.menu__list--open {
    transform: translateY(0%);
  }

  .menu__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .menu__item {
    margin-bottom: 50px;
  }

  .menu__btn {
    display: flex;
  }
  .top__banner {
    display: none;
  }
}

@media (max-width: 768px) {
  .top {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .menu {
    padding-left: 20px;
    padding-right: 20px;
  }
  .top__inner-text {
    margin-top: 0;
  }
  .top__text {
    margin-bottom: 50px;
  }
  .title {
    text-align: center;
  }

  .title_p {
    margin: 30px auto;
    text-align: center;
  }

  .about-us,
  .coaches,
  .dedication,
  .mailing-list,
  .footer__bottom {
    padding: 50px 0;
  }

  .dedication__list {
    margin: 0 auto;
  }

  .coaches__list {
    justify-content: center;
  }

  .dedication__list {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .top__title {
    max-width: 424px;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 33px;
  }
  .top__text {
    max-width: 424px;
    line-height: 25px;
  }

  .dedication__list {
    gap: 30px 20px;
  }
  .mailing-list__btn {
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  .menu__list {
    width: 360px;
  }
  .about-us {
    padding: 40px 0;
  }

  .title {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 35px;
  }
  .title_p {
    text-align: center;
    margin-bottom: 40px;
  }

  .about-us__list {
    gap: 34px 22px;
  }

  .about-us__item {
    max-width: 172px;
  }
  .coaches__list {
    justify-content: center;
    gap: 40px 20px;
  }
  .coaches {
    padding: 40px 0;
  }
  .mailing-list__email {
    width: 200px;
  }
}

@media (max-width: 360px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
